@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');

.box1 {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgba(113, 169, 201, 0.164);
    /* border: solid 2px rgba(30, 33, 192, 0.658); */
    justify-content: flex-end;
    align-items: center;
}

.nav_bar {
    display: flex;
    height: 80%;
    width: 35%;
    /* background-color: blueviolet; */
    justify-content: space-around;
    align-items: center;
    font-family: 'Goblin One', cursive;
    font-style: italic;
}

.box2 {
    display: flex;
    height: 400px;
    width: 100%;  
    /* border: solid 1px black;  */
    justify-content: space-around;
}

.picturebox {
    height: 100%;
    width: 30%;  
    /* border: solid 1px black;  */
    background-color: rgba(113, 169, 201, 0.164);
    text-align: center;
}

.contact {
    height: 300px;
    width: 100%;  
    /* border: solid 1px black;  */
    /* background-color: rgba(113, 169, 201, 0.164); */
    text-align: center;
}

h1 {font-size: 50px;}

a{
    color:black;
}
